.item-line {
  display: flex;
  padding: 0.1rem;
  background: #eeeeee;
  border-bottom: 1px black solid;
  border-radius: 5px;
  max-width: 80%;
  margin: 0.5rem auto;
}

.alignCenter {
  align-self: center;
  padding: 0 1rem;
}

.delBtn {
  margin: 1rem 3rem 1rem auto;
  padding: 0.5rem 1rem;
  justify-self: flex-end;
}

.checkBox {
  margin-left: 2rem;
  padding: 1rem;
  transform: scale(1.5);
}
